::selection {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}

body {
    margin: 0;
    padding: 0;
    background: #333;
}
body::before {
    content: "";
    position: absolute;
    top: -10%;
    left: -5%;
    width: 250px;
    height: 250px;
    background: linear-gradient(5deg, #bf3ae0 ,#5dc7dc);
    border-radius: 50%;
}

.center {
    margin: 15px;
    display: flex;
    justify-content: right;
    flex-flow: row-reverse;
    align-items: center;
    background: rgba(255, 255, 255, 0.23);
    border-radius: 16px;
    width: 98%;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    user-select: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navbar a {
    color: rgba(255, 255, 255, 0.6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin: 2px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.3s ease-out;
    background: transparent;
}
.navbar a:hover {
    background: linear-gradient(5deg, #4b9fd6 ,#5dc7dc);
    color: rgba(255, 255, 255, 0.8);
}
.navbar a:active {
    background: linear-gradient(90deg, rgba(255,255,255,0.2), rgba(255,255,255,0.32));
}
.navbar .active {
    background: linear-gradient(5deg, #bf3ae0 ,#5dc7dc);
    color: rgba(255, 255, 255, 0.8);
}
.navbar .active:hover {
    background: linear-gradient(5deg, #bf3ae0 ,#5dc7dc);
}

.navbar .logo {
    position: absolute;
    left: 30px;
    pointer-events: none;
    font-size: 25px;
    font-weight: 800;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
}
.mainContent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: top;
    width:1200px;
}

.content {
    margin: 15px;
    position: relative;
    width: 85%;
    height: 100%;
    border-radius: 16px;
    color: rgba(255, 255, 255, 0.8);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right {
    position: absolute;
    top: 0;
    margin: 15px;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 15%;
    color: rgba(255, 255, 255, 1);
}
.right h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    text-align: justify;
    backdrop-filter: blur(10px);
}
.right .tabcontent {
    user-select: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.23);
    backdrop-filter: blur(10px);
} 

.right a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 5px 25px;
    transition: 0.3s ease;
}

.right a:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0.12), rgba(255,255,255,0.25));
}

.right a:focus {
    border-left: 5px solid #fff;
    background: linear-gradient(90deg, #bf3ae0 ,#5dc7dc);
}


.logo {
    pointer-events: none;
    user-select: none;
}
.downloadBtn {
    padding: 20px 40px;
    border: none;
    outline: none;
    font-family: verdana;
    font-size: 15px;
    background: #1c57b1;
    color: #ddd;
    border-radius: 10px;
    cursor: pointer;
}
.downloadBtn:hover {
    background: #145ecc;
}
.downloadBtn:active {
    background: #1c57b1;
}
.img1 {
    width: 800px;
    height: 500px;
    cursor: pointer;
}
.notice {
    background: #333;
    color: #ccc;
    text-align: center;
    padding: 10px;
    font-family: impact;
    user-select: none;
}